<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <title id="nomdoc">Bourse2019</title>
    <!-- link
      href="_CSS/etiquette_generator.css"
      rel="stylesheet"
      type="text/css"
    /-->
    <script id="tmpl" type="text/x-handlebars-template">
      <div style="color:#000000; text-align:left; float:left; width:63mm; height:25mm; margin-right:2mm; margin-bottom:2mm;border: thin solid black">
            <div class="designation" style="font-size:13px;overflow:hidden;height:50px;">
                  prix :
                  <br>
            </div>
            <div class="code" style="display:block;width:100%;height:30px;" id="{{identifiant}}">
            </div>
            <div class="designation" style="text-align:center;font-size:14px;overflow:hidden;height:15px;">
                  {{code}}
            </div>
      </div>
    </script>
    <script src="_JS/handlebars.min-v4.5.1.js" type="text/javascript"></script>
    <script src="_JS/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script src="_JS/jquery-barcode.min.js" type="text/javascript"></script>
    <script src="_JS/jspdf.min.js"></script>
    <script src="_JS/codeBarre.js" type="text/javascript"></script>
  </head>
  <body>
    <div
      id="planche"
      style="overflow :hiden; width:200mm; height:287mm; padding-top:0mm; padding-left:12mm"
    >
      <h3 align="center" id="titre"></h3>
    </div>
  </body>
  <script type="text/javascript">
    generateBarcode();
  </script>
</html>
